:root {
    --text-color: #282828;
    --theme-color: #3362cd
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: var(--text-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.signup__container {
    margin-top: 1rem;
}

.auth__form {
    padding-bottom: 1rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 5px;
}

.auth__form--password {
    height: 18rem;
}

input[type=password] {
    border: 1px solid var(--border-color);
}

::placeholder {
    font-family: var(--font-family);
}

.login__link {
    font-size: .8rem;
}

.auth__forget {
    float: right;
    color: var(--primary-color);
}

.input__checkbox {
    vertical-align: middle;
}

.text {
    vertical-align: text-bottom;
}

.btn__signup>button {
    width: 100%;
}

.login__nav {
    font-size: .9rem;
}

.login___btn--now {
    border-bottom: 1px solid var(--warning-color);
    margin-left: .3rem;
}

.login___btn--now:hover {
    color: var(--warning-color);
}

.logout__container {
    width: 90vw;
    margin: 0 auto;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__heading {
    color: var(--theme-color);
    margin-bottom: 1rem;
}

.hero__sub__heading {
    padding: .4rem 0;
    font-weight: 550;
}

.logout__buttons {
    display: flex;
}

.btn__default {
    background-color: var(--theme-color);
}

.logout__buttons>.btn {
    margin: 1rem .5rem 0 0;
    padding: .8rem 3.5rem;
    width: auto;
}

.login__content {
    width: 30rem;
}

.logout__images {
    width: 40rem;
}

.subtitle {
    color: var(--border-color);
    font-size: 1rem;
    padding: 0 1.5rem 1rem 1.5rem;
}