.cart__container {
    width: 100vw;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.content__heading {
    padding: 1rem 0;
}

.cart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart__horizontals {
    width: 30rem;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 2rem;
}

.carts__image {
    width: 20rem;
    height: 22rem;
    object-fit: cover;
    display: block;
    padding: 1rem;
    position: relative;
}

.cart__content {
    padding: 1rem;
}

.cart_heading {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem 0;
}

.cart__text {
    padding-right: .5rem;
}

.product__img {
    object-fit: contain;
}

.carts__price {
    font-weight: 700;
    font-size: 1.2rem;
}

.cart_price--notvalid {
    color: var(--grey-color);
    font-weight: 400;
}

.cart__offer {
    padding: .8rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey-color);
}

.cart__quantity {
    display: flex;
    align-items: center;
}

.btn--outlined {
    color: var(--black);
}

.cart__quantity-number {
    border: 1px solid var(--black);
    padding: 0.1rem 0.4rem;
    padding-right: 0.6rem;
    border-radius: 5px;
    margin-right: 0.7rem;
}

.inc-dec__btn {
    cursor: pointer
}

.product__button {
    padding-top: 1rem;
}

.btn {
    margin: .7rem 0;
    width: 100%;
}

.cart__vertical {
    width: 25rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 2rem;
    padding: 1rem;
    height: fit-content;
}

.cart__price--distribution {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.cart__total {
    padding: .8rem 0;
}

.cart__price--value {
    float: right;
}

.space {
    padding-left: 2rem;
}

.cart__vertical>.cart__text {
    padding-top: .8rem;
}

.cart__vertical>.btn {
    margin: 1rem 0;
    width: auto;
}

.goto__wish {
    border: 1px solid var(--grey-color);
}