#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  width: 80%;
  min-height: 100vh;
  height: max-content;
  margin: auto;
  font-family: var(--font-family);
  overflow-x: hidden;
}

.btn {
  border: 1px solid var(--primary-color);
}

button[disabled] {
  background-color: var(--off-grey);
  color: var(--text-color);
  border: 1px solid var(--off-white);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
}