body {
    width: 100vw;
}

.navigation {
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--white);
    flex-wrap: nowrap;
}

.navigation__logo {
    display: flex;
    align-items: center;
}

.navbar__search {
    width: 20rem;
    position: relative;
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: var(--off-white);
    border: 1px solid var(--primary-color);
    color: var(--black);
}

.search__box {
    width: 100%;
    border-radius: 5px;
    padding: .7rem .4rem;
    outline: none;
    border-width: 0;
    border: 1px solid;
    padding-left: 3rem;
}

.search__icon {
    position: absolute;
    padding: 0 .8rem;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.badge{
    margin: 0;
}

.navbar__right>.btn {
    text-align: center;
}

.user__icon {
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    border-radius: 50px;
}

.user__icon:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.badge__icon {
    font-size: 1.2rem;
    padding-right: .2rem;
    padding-bottom: .3rem;
}

.badge__number {
    bottom: 1.2rem;
    left: 2.6rem;
}