.product {
    width: 80vw;
    margin: 0 auto;
    background-color: var(--white);
    padding-bottom: 2rem;
}

.product__subtext {
    font-size: .8rem;
    padding-left: .5rem;
}

.product__button {
    padding: 1rem 1rem 0 1rem;
}


.goto__cart {
    background-color: var(--secondary-color);
}

.badge {
    margin: 0 .6rem 0 0;
}

.overlay {
    filter: contrast(40%);
    content: 'Out of Stock';
}

.outofstock {
    margin-top: -1rem;
}

.product__heading {
    font-size: 1rem;
    margin: 0 .3rem;
}

.product__rating {
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 700;
    border-radius: 5px;
    padding: .3rem;
    font-size: .5rem;
    float: right;
}

.actual__price {
    color: var(--border-color);
    font-size: .7rem;
}

.product__price {
    padding: 0 .3rem;
    font-size: 1rem;
}

.product_trend {
    background: #c4b5fd;
    display: inline-block;
    position: absolute;
    top: .7rem;
    left: 0;
    text-transform: uppercase;
    color: #111;
    font-size: 10px;
    font-weight: 500;
    z-index: 1;
    padding: 0 4px;
    line-height: 16px;
}

.product_trend::after {
    content: "";
    position: absolute;
    border-color: rgba(61, 72, 175, 0.5) transparent rgba(91, 61, 224, 0.5) rgba(67, 83, 226, 0.8);
    border-style: solid;
    border-width: 8px;
    left: 100%;
    width: 0;
    height: 0;
    top: 0;
}

@media screen and (max-width:1000px) {
    .product__cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:700px) {
    .product__cards {
        grid-template-columns: 1fr;
    }
}