:root {
    --white: #f5f1f1;
    --grey: #C4C4C480;
    --red: #dc143c;
}

.wishlist__container {
    width: 100vw;
    margin: 0 auto;
    background-color: var(--white);
    padding-bottom: 1rem;
    flex-grow: 1;
}

.wishlist {
    max-width: 80rem;
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
    text-align: center;
}

.btn {
    width: 10rem;
}

.add_wish {
    color: var(--red);
}

.remove__wish {
    color: var(--black);
}

.wishlist__heading {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.product__favourite {
    border-width: 0;
    padding: .6rem;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .wishlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width:800px) {
    .wishlist {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:400px) {
    .wishlist {
        grid-template-columns: 1fr;
    }
}