.carousel__overlay::before {
    content: '';
    position: absolute;
    left: 0;
    height: 31.25rem;
    width: 100vw;
    background-color: var(--black);
    opacity: .7;
    z-index: 1;
}

.carousel__slider {
    position: relative;
    background: url("/src/assets/images/bg.jpg");
    background-size: cover;
    height: 31.25rem;
    width: 100%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .3);
    animation: animate 20s infinite;
}

.carousel__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 31.25rem;
    padding: 0 2rem;
    position: absolute;
    z-index: 1;
}

.carousel__heading,
.carousel__subheading {
    font-size: 3rem;
    color: var(--white);
}

.carousel__subheading {
    font-size: 1.5rem;
}

.carousel__content>.btn {
    width: 10rem;
    margin: .625rem 0;
    font-size: 1.2rem;
    text-align: center;
}



/* carousel Slider Animation */

@keyframes animate {
    30% {
        background: url("/src/assets/images/bg2.jpg");
        background-size: cover;
    }

    60% {
        background: url("/src/assets/images/bg3.jpg");
        background-size: cover;
    }

    100% {
        background: url("/src/assets/images/bg4.png");
        background-size: cover;
    }

}
