.footer {
    width: 100%;
    background-color: #C4C4C480;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: .52rem 0 0 0
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__heading {
    padding-bottom: .5rem;
}

.footer__name {
    width: 20rem;
    word-break: break-all;
}

.footer__list {
    padding-top: .5rem
}

.footer__icon {
    cursor: pointer;
    color: var(--black);
    font-size: 1.3rem;
    padding: 0 1rem;
}

.footer__social {
    display: flex;
}


.copyright {
    margin-top: 2rem;
}